[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd

[sshd]
enabled  = true
port     = {{ fail2ban_ssh_port }}
filter   = sshd
logpath  = /var/log/auth.log
maxretry = {{ fail2ban_maxretry }}
