[Unit]
Description=Evmos Archive Node Service
After=network.target

[Service]
ExecStart={{ host_config_dir }}/evmos-node-monitor.sh
User={{ ansible_user }}
Restart=always

[Install]
WantedBy=multi-user.target