#!/bin/bash
exec agave-validator \
    --identity {{ solana_validator_dir }}/config/validator-keypair.json \
    --vote-account {{ solana_validator_dir }}/config/vote-account-keypair.json \
    --ledger {{ solana_validator_dir }}/data/ledger \
    --accounts {{ solana_validator_dir }}/data/accounts \
    --snapshots {{ solana_validator_dir }}/data \
    --maximum-full-snapshots-to-retain 1 \
    --maximum-incremental-snapshots-to-retain 2 \
    --log {{ solana_validator_dir }}/config/agave-validator.log \
    --rpc-port 8899 \
    --private-rpc \
    --full-rpc-api \
    --known-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
    --known-validator Ft5fbkqNa76vnsjYNwjDZUXoTWpP7VYm3mtsaQckQADN \
    --known-validator 9QxCLckBiJc783jnMvXZubK4wH86Eqqvashtrwvcsgkv \
    --known-validator 7XSY3MrYnK8vq693Rju17bbPkCN3Z7KvvfvJx4kdrsSY \
    --only-known-rpc \
    --dynamic-port-range 8000-8020 \
    --entrypoint entrypoint2.testnet.solana.com:8001 \
    --entrypoint entrypoint3.testnet.solana.com:8001 \
    --entrypoint entrypoint.testnet.solana.com:8001 \
    --expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
    --wal-recovery-mode skip_any_corrupted_record \
    --limit-ledger-size \
    --no-os-network-limits-test
