events {
    worker_connections 1024;
}

http {
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;

    {% for app_name, app in metrics_apps.items() %}
    server {
        listen {{ app.public_port }};
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/metrics.htpasswd;
        location / {
            proxy_pass http://{{ app.host }}:{{ app.port }};
        }
    }
    {% endfor %}

}
