user = "devops"

[gossip]
    entrypoints = [
      "entrypoint.testnet.solana.com:8001",
      "entrypoint2.testnet.solana.com:8001",
      "entrypoint3.testnet.solana.com:8001",
    ]

[consensus]
    identity_path = "{{ solana_validator_config_dir }}/validator-keypair.json"
    vote_account_path = "2paKzeZKpPpSd5kJdoNZ9LTWhHMJXDL3bjMhfRa7xjus"

    known_validators = [
        "5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on",
        "dDzy5SR3AXdYWVqbDEkVFdvSPCtS9ihF5kJkHCtXoFs",
        "Ft5fbkqNa76vnsjYNwjDZUXoTWpP7VYm3mtsaQckQADN",
        "eoKpUABi59aT4rR9HGS3LcMecfut9x7zJyodWWP43YQ",
        "9QxCLckBiJc783jnMvXZubK4wH86Eqqvashtrwvcsgkv",
    ]

    expected_genesis_hash = "4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY"

[snapshots]
    enabled = false # Not producing snapshots
    maximum_full_snapshots_to_retain = 2
    maximum_incremental_snapshots_to_retain = 2
    minimum_snapshot_download_speed = 11943040
    path = "{{ solana_validator_data_dir }}/full-snapshots"
    incremental_path = "{{ solana_validator_data_dir }}/incremental-snapshots"

[ledger]
    path = "{{ solana_validator_data_dir }}/ledger"
    accounts_path = "{{ solana_validator_data_dir }}/accounts"
    limit_size = 50_000_000

[rpc]
    port = 8899
    full_api = true
    private = true
    only_known = false

[tiles.metric]
    # URI 127.0.0.1:7999/metrics
    prometheus_listen_address = "127.0.0.1"
    prometheus_listen_port = 7999

[reporting]
    solana_metrics_config = "host=https://metrics.solana.com:8086,db=tds,u=testnet_write,p=c4fa841aa918bf8274e3e2a44d77568d9861b3ea"

[layout]
    affinity = "0-15"
    quic_tile_count = 1
    verify_tile_count = 1
    bank_tile_count = 1
    agave_affinity = "16-22"
    shred_tile_count = 1
