global:
  scrape_interval: 24s
  scrape_timeout: 24s

# Rules and alerts are read from the specified file(s)
rule_files:
  - '{{ prometheus_config_container_dir }}/rules.yml'

scrape_configs:

### Monitoring server self monitoring
  - job_name: "{{ inventory_hostname }}"
    metrics_path: /metrics
    basic_auth:
      username: "{{ metrics_auth.user }}" 
      password: "{{ metrics_auth.password }}"
    static_configs:
      - targets:
          - 127.0.0.1:{{ node_exporter_port }}
        labels:
          group: monitoring
          app: nodeexporter
          node: "{{ inventory_hostname }}"

### Monitoring other monitoring servers
  {% for host in groups['monitoring'] if host != inventory_hostname %}
  - job_name: "{{ hostvars[host]['ansible_host'] }}"
    metrics_path: /metrics
    basic_auth:
      username: "{{ metrics_auth.user }}" 
      password: "{{ metrics_auth.password }}"
    static_configs:
      - targets:
          - "{{ hostvars[host]['ansible_host'] }}:{{ node_exporter_public_port }}"
        labels:
          group: monitoring
          app: nodeexporter
          node: "{{ hostvars[host]['ansible_host'] }}"
  {% endfor %}

### Validators Jobs

  - job_name: demo
    metrics_path: /metrics
    basic_auth:
      username: "{{ metrics_auth.user }}" 
      password: "{{ metrics_auth.password }}"
    static_configs:

      ###########
      # TESTNET #
      ###########

      # node exporter
      - targets:
          - 65.109.93.168:9100
        labels:
          group: demo
          network: demo
          app: nodeexporter
          node: 'validator-01'

  - job_name: solana
    metrics_path: /metrics
    basic_auth:
      username: "{{ metrics_auth.user }}" 
      password: "{{ metrics_auth.password }}"
    static_configs:

      ###########
      # TESTNET #
      ###########

      # solana exporter
      - targets:
          - 57.129.85.62:39999
        labels:
          group: solana
          network: testnet
          app: solana-exporter
          node: 'validator-01'
      # firedancer validator
      - targets:
          - 57.129.85.62:37999
        labels:
          group: solana
          network: testnet
          app: validator
          node: 'validator-01'
      # node exporter
      - targets:
          - 57.129.85.62:39100
        labels:
          group: solana
          network: testnet
          app: nodeexporter
          node: 'validator-01'


alerting:
  alertmanagers:
    - scheme: https
      static_configs:
        - targets: ['{{ alertmanager_url }}']
