# Rules and alerts are read from the specified file(s)
rule_files:
  - '{{ prometheus_config_container_dir }}/rules.yml'

scrape_configs:
  - job_name: 'metrics'
    honor_labels: true
    basic_auth:
      username: "{{ metrics_auth.user }}" 
      password: "{{ metrics_auth.password }}"

    # Scrape every 2 slots on average. Use long timeout, to get metrics from overloaded nodes
    scrape_interval: 24s
    scrape_timeout: 24s
    tls_config:
      insecure_skip_verify: true

    file_sd_configs:
      - files:
          - '{{ prometheus_config_container_dir }}/targets/*.yml'

  - job_name: aztec
    metrics_path: /metrics
    static_configs:

      ###########
      # TESTNET #
      ###########

      # node exporter
      - targets:
          - 65.109.93.168:9100
        labels:
          group: aztec
          network: troll-turtle
          app: nodeexporter
          node: 'validator-01'
      # OTEL
      - targets:
          - 65.109.93.168:8889
        labels:
          group: aztec
          network: troll-turtle
          app: validator
          node: 'validator-01'

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ['{{ alertmanager_url }}']