---
- labels:
    job: node_exporter
    instance: "{{ item }}"
{%  if item in groups['metrics'] %}
  targets:
    - "127.0.0.1:{{ hostvars[item]['node_exporter_port'] }}"
{% else %}
  targets:
    - "{{ hostvars[item]['ansible_host'] }}:{{ hostvars[item]['node_exporter_public_port'] }}"
{% endif %}
