---
- labels:
    job: node_exporter
    instance: "{{ item }}"
{% if item in groups['monitoring'] %}
  targets:
    - "127.0.0.1:{{ node_exporter_port }}"
{% else %}
  targets:
    - "{{ ansible_host }}:{{ node_exporter_public_port }}"
{% endif %}
