---
modules:
    http_2xx: 
        prober: http
        timeout: 5s
        http:
            valid_http_versions: ["HTTP/1.1","HTTP/2.0"]
            preferred_ip_protocol: "ip4"
            ip_protocol_fallback: false
            headers:
                User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:100.0) Gecko/20100101 Firefox/100.0
                Accept-Language: en-GB,ru;q=0.7,en;q=0.3
            valid_status_codes: [200]
            method: GET
            no_follow_redirects: true

            tls_config:
                insecure_skip_verify: false
